.container-fluid{
    height:100vh;
}

.main-page{
    width:100%;
    max-width:100%;
    height: calc(100% - 70px);

    font-family: sans-serif;
    color:gray;
}

    .sidebar{
        background-color: black;
        height:100%;
    }

    .upgrade{
        background-color: #080B12;
        height: 70px;
        width:100%;
        max-width: 100%;
        justify-content: flex-end;
    }

    .content{
        width:100%;
        height: calc(100% - 70px);
        background-color: #141922;
        overflow-y: scroll;
    }

footer{
    background-color: #282828;
    height: 70px;
    position:fixed;
    z-index:1100;
    bottom:0;
    width:100%;
}