*{
    transition: all ease-in-out 0.3s;
    font-family: sans-serif;
}

.container-fluid{
    height:100vh;
}

.main-page{
    width:100%;
    max-width:100%;
    height: calc(100% - 70px);
    overflow:hidden;
    
    color:gray;
}

    .sidebar{
        background-color: black;
        height:100%;
        padding: 10px;
    }

        .sidebar > img{
            text-align: center;
            margin: auto;
            max-width:80%;
        }

    .upgrade{
        background-color: #080B12;
        height: 70px;
        width:100%;
        max-width: 100%;
        justify-content: flex-end;
        align-content: center;
    }

        .button{
            color:white;
            border: 2px solid white;
            height: 70%;
            border-radius: 12px;
            text-align: center;
            line-height: 45px;
            margin-right: 20px;
            padding: 0 10px;
            font-size:20px;
            text-transform: uppercase; 
            transform: scale(0.8);
        }

            .button:hover{
                transform: scale(1);
            }

    .content{
        width:100%;
        height: calc(100% - 460px);
        background-color: #141922;
        overflow-y: auto;
        align-items: flex-start;
        padding-left:20px;
    }

        h1{
            color: white;
            width: 100%;
        }

        .menu{
            margin-top:15px;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 100%;
            text-transform: uppercase;
            font-weight: bold;
        }

            .menu > span{
                margin-right: 15px;
            }

            .menu > span:hover{
                color:white;
            }

                .menu > span#selected{
                    border-bottom: 3px solid rgb(135, 189, 35);
                }
        
        .album-list{
            margin-top: 20px;
            width: 100%;
            justify-content: flex-start;
            align-items: baseline;
            padding-bottom:20px;
        }

        .album{
            font-size: 12px;
            text-align: center;
        }

        .album-pic{
            /* display: flex;
            justify-content: center;
            align-items: center; */
            height:auto;
            width:100%;
            background-size:contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 10px;
        }

            

            .album-pic i{
                filter: opacity(0);
                color:white;
                font-size:80px;
                width: 82%;
                line-height: 150px;
            }

            .album-pic:hover i{
                background-color: rgba(0,0,0,0.5);
                filter: opacity(1);
            }

            #heavy-metal{
                background-image: url("../img/metal_lifting.jpg");
            }

            #stranger-things{
                background-image: url("../img/stranger.jpeg");
            }

            #quiet-place{
                background-image: url("../img/aquietplace.jpeg");
            }

            #split{
                background-image: url("../img/split.jpeg");
            }

            #cure-wellness{
                background-image: url("../img/cure.jpeg");
            }

            #sinister{
                background-image: url("../img/sinister.jpeg");
            }

            #release-radar{
                background-image: url("../img/radar.jpeg");
            }

            #daily-mix-1{
                background-image: url("../img/mixdaily.jpeg");
            }

            #lana-del-rey{
                background-image: url("../img/youg.jpeg");
                border-radius: 50%;
            }

            #einaudi{
                background-image: url("../img/einaudi.jpeg");
                border-radius: 50%;
            }

footer{
    background-color: #282828;
    height: 70px;
    position:fixed;
    z-index:1100;
    bottom:0;
    width:100%;
    justify-content: space-between;
}

    footer > *{
        border: 1px solid green;
        height: 100%;
    }

    .current-track{
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: 12px;
    }

        .current-track > img{
            max-width: 40px;
            max-height:40px;
        }

        b{
            font-size: 14px;
            color: white;
        }

        .current-track a{
            color: gray;
            text-decoration: none;
        }

            .current-track a:hover{
                text-decoration: underline;
            }

        .current-track i{
            font-size: 15px;
            color: gray;
        }

        i:hover{
            color:white;
        }

        .s-b{
            justify-content: space-between;
            
        }

        